@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.logo {
  height: 8em;
  pointer-events:visibleStroke;
  border-radius: 50%;
  width: auto;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
}

.add-btn {
  width:fit-content;
}

.filter-option {
  width: fit-content;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-logo {
  display:flex;
  flex-direction: column;
  align-content: center;
}

fieldset {
  border: 0;
}

.btns, select, input, textarea {
  font-family: 'Staatliches', cursive;
  color: #3b4e50;
  width: auto;
}


.categorysearch {
  width: 25em;
}

.logo {
  display: flex;
  justify-content: center;
}

.filterpets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items {
  margin-left: 100px;
  margin-right: 100px;
}

.save-btn {
  margin-left: 12px;
  margin-right: 5px;
}