@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pet_cards {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.pet_card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    flex-grow: 4;
}

.default_petimg, .pet_image {
    height: auto;
    width: 15em;
    border-radius: 5px;
}

.single_pet {
    display: flex;
}

.petdetails {
    font-family: 'Staatliches', cursive;
}

.petForm {
    font-family: 'Staatliches', cursive;
    margin-left: 5em ;
}

.petformbuttons {
    margin-left: 1em;
}

.petimg {
    margin-right: 5px;
}
.goback{
    margin-left: -15px;
}